.kinology-pricing {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1007%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(253%2c 253%2c 253%2c 1)'%3e%3c/rect%3e%3cpath d='M594.93 658.43C717.73 615.88 670.85 254.49 920.72 253.32 1170.58 252.15 1402.2 447.21 1572.29 449.32' stroke='rgba(19%2c 163%2c 56%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M654.05 630.02C795.87 619.06 862.44 355.72 1141.89 337.17 1421.34 318.62 1492.03 87.32 1629.73 79.57' stroke='rgba(19%2c 163%2c 56%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M160.97 639.99C349.32 636.18 514.11 385.78 870.28 385.64 1226.45 385.5 1399.61 508.38 1579.59 508.84' stroke='rgba(19%2c 163%2c 56%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M129.35 627.29C256.28 622.2 357.14 414.29 590.47 413.86 823.8 413.43 821.02 483.86 1051.58 483.86 1282.14 483.86 1396.1 414.06 1512.7 413.86' stroke='rgba(19%2c 163%2c 56%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M679.06 599.87C809.82 532.13 749.51 101.67 990.4 99.83 1231.29 97.99 1444.16 357.7 1613.08 363.03' stroke='rgba(19%2c 163%2c 56%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1007'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center ;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .pricing-title {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(7, 133, 80);
  }
  
  .pricing-subtitle {
    font-size: 1.2rem;
    color: rgb(85, 85, 85);
  }
  
  .pricing-card {
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
  }
  
  .pricing-card:hover {
    transform: scale(1.05);
  }
  
  .pricing-price {
    font-size: 1.8rem;
    color: rgb(7, 133, 80);
    font-weight: bold;
  }
  
  .comparison-table .table {
    background-color: white;
  }
  
  .comparison-table .table th,
  .comparison-table .table td {
    text-align: center;
    vertical-align: middle;
  }
  .gallery-image {
    display: block;
    margin: 0 auto; 
    position: relative; 
    top: -10px; 
    object-fit: cover; 
    object-position: top;
    max-width: 100%; 
    height: 600px;
  }
  .comparison-table{
    max-width: 100%;
    overflow-y:auto;
  }
  @media (max-width: 576px){
    .gallery-image {
      width: 100%;
      height: 100%;
    }
  }
