.doctors-card-img {
    width: 250px; /* Ширина зображення */
    height: 250px; /* Висота зображення */
    object-fit: cover; 
    object-position: top ;
    border-radius: 50%; /* Робить зображення круглим */
  };
  