/* History.css */

/* Стилизация контейнера */
.history-container {
    max-width: 100%;
    overflow-y: auto;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Кастомный стиль для DatePicker */
  .custom-datepicker {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ced4da;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
  
  /* Стилизация окна календаря */
  .react-datepicker {
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  
  .react-datepicker__header {
    background-color: #007bff;
    color: white;
    padding: 8px;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    width: 2.5em;
    line-height: 2.5em;
    margin: 0.2em;
  }
  
  .react-datepicker__day--selected,
  .react-datepicker__day--keyboard-selected {
    background-color: #007bff;
    color: white;
    border-radius: 50%;
  }
  
  .react-datepicker__day--in-selecting-range, 
  .react-datepicker__day--in-range {
    background-color: #e9ecef;
    color: black;
  }
  
  .react-datepicker__day--today {
    font-weight: bold;
    color: #007bff;
  }
  
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
  }
  